<footer>
    <ul>
        <li>
            <p>Sobre Nosotros</p>
            <hr>
            <p>TicketDeporte es la plataforma líder en venta
                de entradas para eventos deportivos en Toledo,
                con garantía de precios oficiales y servicio
                personalizado.
            </p>
        </li>
        <li>
            <p>Enlaces Rádidos</p>
            <hr>
            <a href="/">Inicio</a>
            <a href="/">Eventos</a>
        </li>
        <li>
            <p>Categorias</p>
            <hr>
            <a href="">Futbol</a>
            <a href="">Rugby</a>
            <a href="">Todas las Categorias</a>
        </li>
        <li>
            <p>Contacto</p>
            <hr>
            <p><img src="/images/location_on_24dp_B3B3B3_FILL0_wght400_GRAD0_opsz24.svg" alt="imagen de un pin map">Av. Salto del Caballo, 1, 45003 Toledo</p>
            <p><img src="/images/call_24dp_B3B3B3_FILL0_wght400_GRAD0_opsz24.svg" alt="imagen telefono"> 925 00 00 00</p>
            <p><img src="/images/mail_24dp_B3B3B3_FILL0_wght400_GRAD0_opsz24.svg" alt="imagen correo">info@ticketdeporte.com</p>
        </li>
    </ul>
    <hr>
    <p class="texto">© 2025 - TicketDeporte - Todos los derechos reservados</p>
</footer>