<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(ErrorRegistro){ %>
        <p><%=ErrorRegistro%></p>
   <% }%>
   <% if(ErrorEmailRepetido){ %>
    <p><%=ErrorEmailRepetido%></p>
<% }%>
<% if(contraseñasNoCoincide){ %>
    <p><%=contraseñasNoCoincide%></p>
<% }%>


    <form action="/users/signin" method="post">
        <input type="email" name="email" placeholder="insertaTuEmail">
        <input type="password" name="password" placeholder="inserta tu contraseña">
        <button type="submit">Registrate</button>
    </form>
    <a class="button google" href="/users/auth/google">Sign in with Google</a>
</body>
</html>