@import url("./index.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./login.css");
@import url("./sector.css");
@import url("./entradasCompradas.css");
@import url("./eventos.css");
@import url("./añadirEvento.css");
@import url("./adminEventos.css");
@import url("./adminRol.css");
@import url("./perfil.css");
@import url("./eventoIndividual.css");
:root{
  --body-light:#f1f2f6;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--body-light);
  font-size: 14px ;
  font-family:Arial, Helvetica, sans-serif
}